@import url("https://fonts.googleapis.com/css2?family=Estonia&family=Pacifico&family=Road+Rage&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Estonia', cursive;
font-family: 'Pacifico', cursive; */
}
.top-container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(#d5f5f744, #00cfd6a4), url(../img/background.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.top-container-title {
  font-size: 80px;
  text-shadow: #fff 5px 5px 20px;
  color: #fff;
  margin-top: -100px;
  font-family: "Pacifico", cursive;
}
.top-container-p {
  font-size: 20px;
  text-shadow: #fff 5px 5px 20px;
  color: #fff;
  margin-top: -10px;
  font-family: "Pacifico", cursive;
}
.top-container-buttons {
  margin-top: 18px;
}
.top-container-buttons > a {
  padding: 8px;
  margin: auto 5px;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  border: 1px solid #fff;
  box-shadow: 5px 5px 20px #ddd;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden !important;
}
.top-container-buttons > a::after {
  content: "";
  width: 0;
  height: 103%;
  position: absolute;
  background: rgba(255, 255, 255, 0.705);
  top: -1px;
  left: 0;
  transition: 0.5s width;
  transition-delay: 0.1s;
  z-index: -1;
}
.top-container-buttons > a:hover {
  background: none;
  color: #555555;
}
.top-container-buttons > a:hover::after {
  width: 101%;
}
.btn-nav-open {
  background: #1ef8ffb9;
  padding: 10px;
  position: fixed;
  top: 10px;
  right: 15px;
  color: #fff;
  z-index: 3;
  cursor: pointer;
}
nav {
  position: relative;
  top: 100px;
}
nav > ul > li {
  padding: 10px;
  list-style: none;
}
nav > ul > li > a {
  text-decoration: none;
  color: #fff;
  display: flex;
  justify-content: space-between;
  transition: .4s;
}
nav > ul > li > a:hover {
  color: #555;
}
.nav-container {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  background: #1ef8ffb9;
  z-index: 2;
  transition: 0.6s width;
}
.main-sec-one-container {
  margin-top: 10px;
  height: fit-content;
}
.main-sec-two-container {
  margin-top: 10px;
  height: fit-content;
}
.main-sec-tree-container {
  margin-top: 25px;
  height: fit-content;
  width: 80%;
  margin: 0 auto;
}
.main-sec-tree-cards {
  display: flex;
  flex-wrap: wrap;
}
.main-sec-tree-cards > div {
  width: 100%;
}
.main-sec-tree-cards > div > img { 
  filter: grayscale(1.5);
  width: 400px;
  border-radius: 10px;
  box-shadow: #555 5px 5px 20px;
}
.sec-one-left > img {
  filter: grayscale(1.5);
}
.main-sec-tree-card-1 {
  text-align: start;
}
.main-sec-tree-card-2 {
  text-align: center;
}
.main-sec-tree-card-3 {
  text-align: end;
}
.small-container {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.sec-one-left {
  width: 40%;
}
.sec-one-right {
  width: 60%;
  margin-top: 50px;
}
.sec-one-right > h3 {
  display: flex;
  color: #1ef8ffb9;
}
.sec-one-right > p {
  width: 80%;
  color: #555;
}
.attach-icon {
  margin-left: 5px;
}
.sec-one-left > img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 20px 20px 30px #55555555;
}
.services,
.tweets {
  text-align: center;
  color: #1ef8ffb9;
  font-family: "Road Rage", cursive;
  font-size: 38px;
  margin: 10px auto;
}
.services > h4,
.tweets > h4 {
  position: relative;
  display: inline-block;
  padding: 5px;
  letter-spacing: 2px;
}
.services > h4::after,
.tweets > h4::after {
  content: "";
  width: 100%;
  height: 5px;
  background: #1ef8ffb9;
  bottom: 0;
  left: 0;
  position: absolute;
}
.tweets-cards {
  display: flex;
  width: 80%;
  margin: 0 auto;
  flex-wrap: wrap;
}
.card-img-top {
  display: inline-block;
  width: 52px;
  height: 52px;
  border-radius: 50%;
}
.card-name {
  display: inline-block;
  position: relative;
  top: -30px;
  left: 20px;
  font-size: 18px;
}
.tweet-card {
  flex-basis: 24%;
  background: #1ef8ff2e;
  margin: 5px;
  padding: 20px;
  border-radius: 10px;
}
.card-footer {
  margin-top: 10px;
}
.footer-container {
  height: fit-content;
  margin-top: 50px;
  background: linear-gradient(#d5f5f70c, #00cfd6a4);
  border-top-left-radius: 100px;
}
.footer-logo {
  text-align: center;
}
.footer-logo > img {
  width: 200px;
  margin-top: 20px;
}
.footer-nav {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
.footer-bet-col {
  width: 20%;
}
.footer-copyright {
  color: #555555;
  width: 100%;
  text-align: center;
}

.col-footer-6 {
  width: 40%;
}
.footer-nav {
  position: relative;
}
.footer-nav > ul > li {
  padding: 10px;
  list-style: none;
}
.footer-nav > ul > li > a {
  text-decoration: none;
  color: #555555;
  display: flex;
  justify-content: space-between;
  transition: .4s all;
}
.footer-nav > ul > li > a:hover {
  color: #555;
}
@media only screen and (max-width: 480px) {
  .footer-nav > ul > li > a {
    text-decoration: none;
    color: #555555;
    display: flex;
    justify-content: space-between;
    transition: .4s all;
    font-size: 13px;
  }
  .footer-bet-col {
    width: 0%;
  }
  .col-footer-6 {
    width: 50%;
  }
}
@media only screen and (max-width: 720px) {
  .top-container-title {
    font-size: 50px;
    margin-top: -180px;
  }
  .main-sec-tree-cards > div > img {
    width: 100%;
  }
  .main-sec-tree-card-1,.main-sec-tree-card-2,.main-sec-tree-card-3 {
    text-align: center;
  }
  .tweet-card {
    width: 100%;
    flex-basis: 100%;
  }
  .top-container-p {
    font-size: 14px;
  }
  .footer-copyright {
    padding-top: 10px;
  }
  .nav-container {
    background: #1ef8ffde;
  }
  .small-container {
    width: 90%;
  }
  .sec-one-left {
    width: 100%;
    margin-top: 20px;
  }
  .sec-one-right {
    width: 100%;
  }
  .footer-nav > ul > li > a {
    margin: 10px 0;
  }
}

